{
        "tabWidth": 4,
        "useTabs": true,
        "overrides": [
                {
                        "files": "*.tmpl",
                        "options": {
                                "parser": "html"
                        }
                },
                {
                        "files": ["*.html"],
                        "options": {
                                "parser": "go-template"
                        }
                }
        ],
}
